body
{
    overflow:auto;
}

.container_search_ag
{
    width: 100%;
    padding: 1% 0;
    border: 1px solid #333;
    box-shadow: 0 7px 7px #333;
}

.input_search_ag
{
    margin: auto; width: 90%;
    border-radius: 10px;
    font-size: 1.6rem;
    display: block;
}

.table_ag, tbody .tr_ag
{
    width: 100%;

}
.tr_ag > th,td
{
    width: fit-content;
    padding: 7px 0;
    border: 0.7px solid #8c8b8b;
}

.tr_ag:nth-child(even)
{
    background-color: #dddddd;
}

.modif
{
    margin: 0;
}