
body
{
    background-color: white;
}
.img_product
{
    width: auto;
    height: 100%;
    position: relative;
    display: block;
    padding: 1%;
}

.img_opinion
{
    width: 100%;
    height: auto;
    padding: 1%;
}

.product_img
{
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.row
{
    margin: 0;
    padding: 0;
}
.container_product
{
    margin: 0;
    padding: 0;
}
.container_art
{
    margin: 0;
    padding:0;
}
.products
{

    background-color: white;
}

.opinion_img
{
    width: 15%;
}

.container_infos
{

    border: 1px solid #333;
    padding: 1% 0%;
    width: 100%;
    box-shadow: 10px 10px 10px #333;


}

.title_infos
{
 text-align: center;
}
